<div class="footer">
  <hr /> 
  <div class="footer-content">
    <div class="left">
      <span class="copyright">&#169; 2026 birmingHack website contributors</span>
      <span class="organised-by">birmingHack is organised by the <a href="https://cssbham.com">University of Birmingham Computer Science Society</a>, 
        which is part of the <a href="https://www.guildofstudents.com/">Guild of Students</a>.</span>
      <a href="https://cssbham.com" target="_blank"><img src="assets/css-logo.png" width="100"/></a>
      <span class="organised-by"><a href="https://github.com/CSSUoB/birminghack.com">This site's source code.</a></span>
    </div>
    <div class="links">
      <span>Useful links</span>
      <!-- <a href="https://hackathons.org.uk">HackathonsUK</a> -->
      <a href="/code-of-conduct">Code of Conduct</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/sponsor">Sponsorship Proposal</a>
      <a href="https://cssbham.com">Computer Science Society</a>
    </div>
  </div>
</div>